{% extends "base.html" %}
{% load static %}
{% block breadcrumbs %}
    <div class="w3-bar w3-dark-gray">
        <div class="w3-bar-item"><a class="no-text-decoration" href="{% url 'home' %}">Accueil</a></div>
        <div class="w3-bar-item"><img src="{% static 'core/icons/next_icon_red.svg' %}" height="18"></div>
        <div class="w3-bar-item"><a class="no-text-decoration" href="{% url 'zone_list' %}">Liste des Zones</a>
        </div>
        <div class="w3-bar-item"><img src="{% static 'core/icons/next_icon_red.svg' %}" height="18"></div>

    </div>
{% endblock %}
{% block content %}
    {% include 'core/zone/planning/parent_section.html' %}

    {#    Child object List#}
    <div class="w3-padding-32">
        {#    Tab bar#}
        {% include 'core/zone/planning/_days_tab_bar.html' %}
        <div class="w3-padding-16">
            <a class="w3-button w3-theme-l1 w3-round"
               href="{% url 'planning_create' parent_pk=parent_object.pk day_index=request.resolver_match.kwargs.day_index %}">
                <img src="{% static 'core/icons/plus_white_icon.png' %}" height="17">
                <span class="w3-margin-left">Ajouter</span>
            </a>
        </div>
        <table class="w3-table w3-white w3-bordered">
            <thead>
            <th>ID</th>
            <th>Ckeck Time</th>
            <th>Tolérance</th>
            <th>Actions</th>
            </thead>

            {% for obj in object_list %}
                <tr>
                    <td> {{ obj.id }}</td>
                    <td> {{ obj.patrol_check_time }}</td>
                    <td> {{ obj.tolerated_time }}</td>
                    <td>
                        <a class="w3-button w3-padding-small w3-round"
                           href="{% url 'planning_detail' parent_pk=parent_object.pk day_index=obj.selected_day_index pk=obj.pk %}">
                            {% include 'components/_view_icon.html' with height=19 %}
                        </a>
                        <a class="w3-button w3-padding-small w3-round"
                           href="{% url 'planning_update' parent_pk=parent_object.pk day_index=obj.selected_day_index pk=obj.pk %}">
                            {% include 'components/_modify_icon.html' with height=19 %}
                        </a>
                        <a class="w3-button w3-padding-small w3-round"
                           href="{% url 'planning_delete' parent_pk=parent_object.pk day_index=obj.selected_day_index pk=obj.pk %}">
                            {% include 'components/_delete_icon.html'  with height=19 %}</a>

                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}